@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="hero">
    <img src="~/Images/logo.png">
    <h1 class="display-4">Dag-til-dag levering af dagli'-varer.</h1>
    <p class="headlineText">Påbegynd dit indkøb ved at klikke <a asp-page="/Products/AllProducts">her</a>.</p>
</div>